{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários - Projeto Coragem</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/styles/folha.css' %}">

</head>
<body>
    <br>

    
    <i class="fas fa-clock"></i>

    <div id = "cabecalho">
        <h1>Lista de Usuários</h1>
        <br>
    

<hr>
    <form action ="{% url 'buscar' %}" method = "GET">
        <input type = "text" name = "cpf" id="" value = "{{ request.GET.cpf }}" class = "p-1 border" autocomplete = "off" placeholder="Digite o CPF:">
        <button type = "submit" class="btn btn-success"> Buscar</button>
        <a href= "{% url 'listausuarios' %}" class = "btn btn-light">Limpar</a>
    </form>
<hr>
    </div>
    {% comment %} <div id = "cabecalho"> 
        <p> Consulta de Usuários:<p>  
        <label for = "cpf_id"> CPF: </label>
              <input id = "cpf_id" type = "text" name = "cpf" placeholder = "Digite o CPF:">
              <br>
              <br>
              <input class=""btn btn-outline-info"" type="submit" name = "buscar" value="Consultar">
              &nbsp;
              

    </div> {% endcomment %}
    <br>
    <nav class = "menu-retornar_navegacao_inicio">
        <a href ={% url 'cadastrar' %}> CADASTRAR</a>
    </nav>
       <br>
    <nav class = "menu-retornar_navegacao_inicio">
        <a href ={% url 'indexcompleta' %}> ÍNICIO</a>
    </nav>
    <br> 
    <br>
  
    {% comment %} <div id ="cabecalho_usuarios" class="container">  {% endcomment %}
        <div class="table-responsive">
            <table class="table table-striped">
            <tr>
                <th>id:</th>
                <th>Nome:</th>
                <th>Data de Nascimento:</th>
                <th>Idade:</th>
                <th>Gênero:</th>
                <th>Naturalidade:</th>
                <th>Tempo na Cidade:</th>
                <th>CPF:</th>
                <th>RG:</th>
                <th>NIS:</th>
                <th>SUS:</th>
                <th>Nome da Mãe:</th>
                <th>Nome do Pai:</th>
                <th>Nome do Responsável:</th>
                <th>Grau de Parentesco:</th>
                <th>Endereço:</th>
                <th>Bairro:</th>
                <th>Cidade:</th>
                <th>Estado:</th>
                <th>Telefone:</th>
                <th>Celular:</th>
                <th>Encaminhamento:</th>
                <th>Motivo:</th>
            </tr>
           {% for novo_usuario in usuarios %}
            <tr> 
                <td> {{ novo_usuario.id }} </td>
                <td> {{ novo_usuario.nome}} </td>
                <td> {{ novo_usuario.nasc}} </td>
                <td> {{ novo_usuario.idade }} </td>
                <td> {{ novo_usuario.genero}} </td>
                <td> {{ novo_usuario.naturalidade}} </td>
                <td> {{ novo_usuario.tempo}} </td>
                <td> {{ novo_usuario.cpf }} </td>
                <td> {{ novo_usuario.rg }} </td>
                <td> {{ novo_usuario.nis }} </td>
                <td> {{ novo_usuario.sus }} </td>
                <td> {{ novo_usuario.mae }} </td>
                <td> {{ novo_usuario.pai }} </td>
                <td> {{ novo_usuario.resp }} </td>
                <td> {{ novo_usuario.parentesco }} </td>
                <td> {{ novo_usuario.end }} </td>
                <td> {{ novo_usuario.bairro }} </td>
                <td> {{ novo_usuario.cidade }} </td>
                <td> {{ novo_usuario.estado }} </td>
                <td> {{ novo_usuario.tel }} </td>
                <td> {{ novo_usuario.cel }} </td>
                <td> {{ novo_usuario.enc }} </td>
                <td> {{ novo_usuario.motivo }} </td>
{% comment %}                 <td><nav class="navbar navbar-light bg-light">
                    <a href ="#"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg></a></td>
                <td><nav class="navbar navbar-light bg-light">
                    <a href ="#"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg></a></td>  {% endcomment %}
            </tr>    
            {% empty %}
            <tr>
                <td colspan="3"> Nenhum usuário encontrado.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>