{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários - Projeto Coragem</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/folha.css' %}">
</head>
<body>
  <div id = "cabecalho">
    <h1> ALTERAÇÃO DE PARTICIPANTES</h1>
  </div>
  <div id="imagemlogo">
    <img src = "{% static 'assets/logo_projeto.png' %}" alt = "Logo do Projeto Coragem"/ align="right" height="180px", width="160px">
  </div>

  <br>
  <form action="{% url 'editar' %}" method="post">
  {% csrf_token %}
  <div class="container" id = "areacad">
      Nome:<input type="text"style = "width: 500px" name = "nome" placeholder = "Nome Completo">
      &nbsp;Data de Nascimento:<input type="text" style = "width: 140px" name = "nasc" placeholder = "Data de Nascimento">
     <br>
     <br>
      Idade:<input type="text" style = "width: 50px" name = "idade" placeholder = "Idade">
      &nbsp;Gênero: <input type="text" style = "width: 150px" name = "genero" placeholder = "Gênero">
      &nbsp;Naturalidade:<input type="text" style = "width: 150px" name = "naturalidade" placeholder = "Naturalidade">
      &nbsp;Tempo na Cidade:<input type="text"style = "width: 155px" name = "tempo" placeholder="Tempo na Cidade">
      <br>
      <br>
      CPF:<input type="text" name = "cpf" placeholder = "00000000000">
      &nbsp;RG:<input type="text"  name = "rg" placeholder = "RG">
      &nbsp;NIS:<input type="text" name = "nis" placeholder = "NIS">
      &nbsp;Cartão do SUS:<input type="text" name = "sus" placeholder = "SUS">
      <br>
      <br>
      Nome da Mãe:<input type="text" style = "width: 600px" name = "mae" placeholder="Nome do Mãe">
      <br>
      <br>
      Nome do Pai:<input type="text" style = "width: 607px" name = "pai" placeholder="Nome do Pai">
      <br>
      <br>
      Nome do Responsável:<input type="text" style = "width: 545px" name = "resp" placeholder="Nome do Responsável">
      <br>
      <br>
      Grau de Parentesco:<input type="text" style = "width: 150px" name = "parentesco" placeholder = "Grau de Parentesco">
      <br>
      <br>
      Endereço:<input type="text" style = "width: 200px" name = "end" placeholder="Logradouro">
      &nbsp;Bairro:<input type="text" style = "width: 150px" name = "bairro" placeholder="Bairro">
      &nbsp;Cidade:<input type="text" style="width: 150px" name = "cidade" placeholder="Cidade">
      &nbsp;Estado:<input type="text" style="width:100px" name = "estado" placeholder="Estado">
      <br>
      <br>
      Telefone:<input type="text" style = "width:150px" name = "tel" placeholder="Telefone com DDD">
      &nbsp;Celular:<input type="text" style = "width:150px" name = "cel" placeholder="Celular com DDD">
      <br>
      <br>
      Encaminhamento:<input type="text" style = "width: 250px" name = "enc" placeholder="Órgão que realizou o encaminhamento">
      &nbsp;Motivo:<input type="text" tyle = "width: 250px" name = "motivo" placeholder="Motivo">
      <br>
      <br>
      <div class = "menu-retornar_navegacao_inicio">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button class="btn_submit_consultar" type = "submit">Alterar</button>
  <br>
  <br>
  <br>
      </div>
    </form>    
      <section class = "menu-retornar">
    <nav class = "menu-retornar_navegacao_inicio" >
      <a href ={% url 'listausuarios' %} align="left"> RETORNAR </a>
    </nav>

<!--Importação do JS-->


</body>
</html>

